<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{{ url_for('static', filename='js/tasks.js') }}?v={{ time.time() }}" defer></script>
    <title>spot-in-sight</title>
</head>
<body>
<h1>Ma liste de tâches</h1>
<form id="add-task-form">
    <input type="text" id="title" placeholder="Titre de la tache" required>
    <input type="text" id="description" placeholder="Description de la tache" required>
    <button type="submit">Ajouter</button>
</form>
<table id="task-table">
    <thead>
    <tr>
        <th>Titre</th>
        <th>Description</th>
        <th>Status</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <!-- Les tâches seront insérées par JS -->
    </tbody>
</table>
</body>
</html>